@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@500&family=Russo+One&display=swap');

* {
    padding: 0;
    margin: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1F4591;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

}

.navi {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.navi li {
    margin-left: 50px;
    margin-right: 50px;
}

.navi a {
    text-decoration: none;
    padding: 10px 20px;
}

.nav {
    color: white;
}

.nav1 {
    background-color: white;
    color: #1F4591;
    border-radius: 5px;
}

.navi .nav:hover {
    background-color: white;
    color: #1F4591;
    border-radius: 5px;
}

.title {
    padding: 15px 20px;
    color: white;
    background-image: linear-gradient(to bottom right, #1F4591, #000000f8);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #1F4591;
}

.topics {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.topics .post {
    background-image: linear-gradient(to bottom right, #1F4591, #000000f8);
    text-align: center;
    padding: 30px;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #1F4591;
    transition: transform .2s;
    height: 420px;
}

.topics .post:hover {
    transform: scale(1.05);
}

.topics img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.topics .lesson-title {
    color: white;
    font-size: 40px;
    margin: 20px 0 20px 0;
    font-family: 'Roboto', sans-serif;
}

.topics .info {
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.topics::-webkit-scrollbar {
    width: 1px;
    height: 10px;
}

.topics::-webkit-scrollbar-thumb {
    background-color: #1F4591;
    border-radius: 15px;
}